attrs==19.3.0
Click==7.0
importlib-metadata==0.23
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.1
py==1.8.0
pyaes==1.6.1
pyasn1==0.4.8
pyparsing==2.4.5
pytest==5.3.1
PyYAML==5.4
rsa==4.1
six==1.13.0
Telethon==1.10.8
tgscrape==0.0.1
wcwidth==0.1.7
zipp==0.6.0
